* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.area {
    background: #203060;
    border-radius: 2% ;
    height: 660px;
    width: 440px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playboard {
    background-color: #4060bb;
    border: 10px solid #102050;
    border-radius: 10px ;
    height: 350px;
    width: 350px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 100px;
    background-color: #3753a0;
    width: 100px;
    height: 100px;
    border-radius: 10px ;
    cursor: pointer;
}

.winner {
    background-color: #4060bb;
    height: 75px;
    width: 200px;
    text-align: center;
    font-size: 30px;
    border: 10px solid #102050;
    border-radius: 10px ;
}

.whoWon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65px;
    width: 190px;
    pointer-events: none;

    background-color: #4669c9;
    border: 10px solid #18348a;
    border-radius: 10px ;
    opacity: 0%;

    font-size: 55px;
    text-align: center;
}

.rButton {
    background-color: #4060bb;
    border: 8px solid #102050;
    font-size: 25px;
    cursor: pointer;
}